*, *::before, *::after {
  box-sizing: border-box;
}

body{
  background-color: #f5f4f1;
}

.block{
position: relative;
margin: auto;
width: 55%;
padding: 45px 50px;
background-color: #fff;
text-align: center;
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

ul{
list-style-type: none;
}

li{
margin-top: 15px;
margin-left: -3em;
}

input{
padding: 4px 5px;
}

.flag{
  vertical-align: -1px;
  margin-left: 13.5em;
}

.btn{
  background-color: #bc8e5c;
  color: #fff;
  border: none;
  padding: 10px 136px;
}