#block1{
	position: relative;
	display: block;
	margin: auto;
	width: 300px;
	background-color: aqua;
	text-align: left;
	color: white;
	padding: 10px;
	font-size: 30px;
}
#block2{
	position: relative;
	top: 20px;
	display: block;
	margin: auto;
	width: 300px;
    background-color: lightseagreen;
	text-align: left;
	padding: 10px;
}