*, *::before, *::after {
  box-sizing: border-box;
}

.block{
  display: flex;
  position: relative;
  margin: auto;
  background-color: #f5f6f8;
  padding: 1em 1em 0em 1em;
}

.text{
  padding: 1em;
  position: relative;
  display: block;
  right: 1em;
}

i{
  float: right;
 position: relative;
 margin: auto;
}

h2,p{
  
  text-align: right;
  color: #303030;
}

img{
  border: 2px solid #888e99;
  border-radius: 50%;
  width: 10em;
}


